.contenedor-principal-info{
    text-align: center;
    width: 290px;
    height: 98%;
    margin: 10px;
    background-color: rgb(10, 255, 6);
    border: 1px solid  rgb(37, 115, 4);
}
.contenedor-principal-info img{
    display: block;
    margin: auto;
    position: relative;
    top: 15px;
    border-radius: 50%;
}

.contenedor-info{
    font-size: 0.7em;
    margin-top: 30px;
    -webkit-user-select: none;
}

.contenedor-info p {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}